################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pyinsteon/v15/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
