# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version
flake8-docstrings==1.7.0
flake8==7.0.0
flake8-noqa==1.4.0
flake8-comprehensions==3.14.0
pyflakes==3.2.0
pycodestyle==2.11.1
pydocstyle==6.3.0
pylint==3.2.2
isort==5.13.2
async_generator
black==24.4.2
pytest-cov==5.0.0
pytest==8.2.2
pre-commit==3.7.1
