# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version
flake8-docstrings==1.6.0
flake8==3.9.2
flake8-comprehensions==3.4.0
flake8-noqa==1.1.0
pyflakes==2.4.0
pycodestyle==2.7.0
pydocstyle==6.0.0
pylint==2.8.2
isort==5.8.0
async_generator
black==21.5b1